<h2>Component with Serial No: @ViewBag.component.SerialNo. Type: @ViewBag.ComponentType.ComponentName</h2>
<h3>Component Number: @ViewBag.component.ComponentNumber</h3>
      <br>
      
<button onclick="goBack()"class="btn">Back</button>

<script>
function goBack() {
    window.history.back();
}
</script>